.center{
	text-align: center;
}
.right{
	text-align: right;
}
.container{
	margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
h1{
	font-size: 40px;
  color: #696969;
}
span.right{
	text-align: right;		
}
table { 
	border-collapse: collapse; 
	width: 100%
}
tr { 
	border: none;

}
td:not(.no-padding){
	padding-left: 20px;
}
td.borders {
	border-right: solid 1px green; 
}
hr{
	border-color: lightgreen;
}
.twentythree{
  width: 23%;
}
.fortyfifty{
  width: 43%;
}
.fiftyfifty{
  width: 50%;
}
.thirtythree{
  width: 33%;
}
.sixtysix{
  width: 66%
}
.titles{
  font-size: 18px;
  font-weight: 500;
  font-family: monospace;
}
strong{
  color: #696969;
}