.center{
	text-align: center;
}
.right{
	text-align: right;
}
.container{
	margin: 50px;
}
h1{
	font-size: 45px;
}
span.right{
	text-align: right;		
}
table { 
	border-collapse: collapse; 
}
tr { 
	border: none;

}
td:not(.no-padding){
	padding-left: 20px;
}
td.borders {
	border-right: solid 1px green; 
}
hr{
	border-color: lightgreen;
}