.center{
	text-align: center;
}
.right{
	text-align: right;
}
.container{
	margin: 50px;
}
h1{
	font-size: 40px;
}
span.right{
	text-align: right;		
}
table { 
	border-collapse: collapse; 
	width: 100%
}
tr { 
	border: none;

}
td:not(.no-padding){
	padding-left: 20px;
}
td.borders {
	border-right: solid 1px green; 
}
hr{
	border-color: lightgreen;
}
.fiftyfifty{
  width: 50%;
}
.thirtythree{
  width: 33%;
}
.sixtysix{
  width: 66%
}